
@use './variables' as *;

table {
    font-size: 0.9rem
}

td {
    vertical-align: middle;
}

.btn-actions {
    &:hover {
        background-color: $background-dashboard;
    }
}

.bi,
ul li {
    cursor: pointer;
}

.menu-dropdown-dh {
    position: relative;
}

.content-menu-dh {
    display: none;
    position: absolute;
    right: calc(100% - 5vw);
    border: 1px solid $shadow;
    background-color: white;
    border-radius: 10px;
    width: 140px;
    z-index: 900;

    ul li {
        height: 100%;
        padding: 0 0.5rem;

        a {
            padding: 0.5rem 1rem;
            display: flex;
            gap: 10px;

            &:hover {
                border-radius: 8px;
                background-color: $background-dashboard;
            }
        }
    }
}
