
$background-dashboard: rgb(241, 241, 241);
$color-text: rgb(76, 76, 76);
$color-light: white;
$sidenav-hover: rgb(199, 223, 255);

$login-dark-blue: rgb(33, 33, 106);
$register-tomato: tomato;
$shadow: lightgrey;
