
$background-dashboard: #F3F5F8;
$color-text: rgb(87, 87, 87);
$color-light: white;
$sidenav-hover: rgb(75, 75, 75);

$login-dark-blue: rgb(33, 33, 106);
$register-tomato: tomato;
$shadow: lightgrey;
