
//testi
$title-font: 'Poppins', Arial;

$title-text: 'Inter', Arial;

$font-standard: 1.3rem;

$font-medium: 1rem;

$font-header: 1.1rem;

$font-color: #025A4E;


//palette
$color-background: #FBFFE4;

$color-primary: #B3D8A8;

$color-secondary: #3D8D7A;

$color-tertiary: #A3D1C6;

// $color-quaternary: #B5828C;

$color-quinary: #f4f4f4;

// $color-shadow: #FDE7E1;

$color-dark: #52505E;

$gradient: radial-gradient(circle at center, 
    rgb(255, 199, 199),
    rgb(255, 234, 194),
    rgb(255, 255, 193),
    rgb(192, 252, 192),
    rgb(168, 254, 192),
    rgb(188, 227, 255),
    rgb(255, 204, 255)
    
    )