
//testi
$title-font: 'Poppins', Arial;

$title-text: 'Inter', Arial;

$font-standard: 1.5rem;

$font-medium: 1rem;

$font-header: 1.1rem;


//palette
$color-background: #FBFFE4;

$color-primary: #B3D8A8;

$color-secondary: #3D8D7A;

$color-tertiary: #A3D1C6;

// $color-quaternary: #B5828C;

$color-quinary: #ECAB9E;

// $color-shadow: #FDE7E1;

$color-dark: #52505E;